<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test name="Test">
		<classes>
			<class name="com.hotels.rajib_maven4617.rajibTest1" />
			<class name="com.hotels.rajib_maven4617.rajibTest2" />
			<class name="com.hotels.rajib_maven4617.rajibTest3" />
			<class name="com.hotels.rajib_maven4617.rajibTest4" />
			<class name="com.hotels.rajib_maven4617.rajibTest5" />
			<class name="com.hotels.rajib_maven4617.rajibTest6" />
			<class name="com.hotels.rajib_maven4617.rajibTest7" />
			<class name="com.hotels.rajib_maven4617.rajibTest8" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
